.aboutme-container{
    height: 100%;
    font-family: Montserrat;
    padding: 6% 7%;
}

.aboutme-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutme-title{
    font-weight: bold;
    font-size: 40px;
}

.aboutme-page-photo{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    /* margin-top: -200vh; */
    margin-top: -50vh;
    margin-left: 70vw;
}

.aboutme-paragraph-container{
    /* width: 50vw; */
    /* padding-left: 15vw; */
    
}

.aboutme-paragraph{
    width: 60vw;
    margin-bottom: -1vh;
    font-size: 20px;
}

.aboutme-cv-button{
    background-color: #E55175;
    font-family: Montserrat;
    font-weight: bold;
    color: #ffffff;
    width: 295px;
    padding: 10px;
    margin-top: -1vh;
    border-radius: 25px;
    border: 2px solid #E55175;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
    transition: all .3s;
}

.aboutme-cv-button:hover{
    background-color: #C4174F;
    border-color: #C4174F;
}

.aboutme-photos-container{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.aboutme-photos{
    height: 40vh;
    width: 30vw;
}

.photos-details-container{
    background-color: #EA7491;
    color: #ffffff;
    width: 30vw;
}

.photos-details-container-S{
    background-color: #D04572;
    color: #ffffff;
    width: 30vw;
}

.photo-title{
    padding: 0vw 1vw;
    letter-spacing: 1px;
}

.photo-description{
    padding: 0vw 1vw;
}

.photo-container{
    display: flex;
    flex-direction: column;
}