.aboutme-container{
    height: 100vh;
    font-family: Montserrat;
    padding: 6%;
}

.aboutme-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutme-title{
    font-weight: bold;
    font-size: 40px;
}

.aboutme-page-photo{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    /* margin-top: -200vh; */
    margin-top: -50vh;
    margin-left: 55vw;
}

.aboutme-paragraph-container{
    /* width: 50vw; */
    padding-left: 15vw;
    
}

.aboutme-paragraph{
    width: 50vw;
    font-size: 20px;
}

.aboutme-cv-button{
    background-color: #E55175;
    font-family: Montserrat;
    font-weight: bold;
    color: #ffffff;
    width: 295px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #E55175;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
}

.aboutme-cv-button:hover{
    background-color: #C4174F;
    border-color: #C4174F;
}