.contact-container{
    background-color: #ffffff;
    font-family: Montserrat;
    height: 100%;
    width: 100%;
    padding: 6% 0%;
}

.contact-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-title{
    font-size: 30px;
}

.contact-title2{
    color: #C4174F;
}

.contact-subtitle{
    font-size: 25px;
    text-align: center;
}

.contact-link-style{
    color: #C4174F;
    text-decoration: none;
}

.contact-link-style:hover{
    text-decoration: underline;
    color: #E55175;
}

.contact-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 414px) and (orientation: portrait) {

    .contact-container{
        background-color: green;
        width: 200%;
    }


}