.the-footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.the-footer{
    font-family: montserrat;
    color: #E55175;
    text-align: center;
    letter-spacing: 1px;
}

@media screen and (min-width: 320px) and (max-width: 414px) and (orientation: portrait) {

    .the-footer-container{
        background-color:yellowgreen;
        width: 200%;
        font-size: 25px;
    }


}