.the-footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.the-footer{
    font-family: montserrat;
    color: #E55175;
    text-align: center;
    letter-spacing: 1px;
}