.header-container{
  position: fixed;
  top: 0;
  height: 14vh;
  width: 100%;
  background-color: #fed7da;
}

.header {
  font-family: Montserrat;
  font-size: 18px;
  padding: 2vh;
  
}

.header-content{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}

.header-logo{
  width: 140px;
  margin-top: -2.5vh;
  position: absolute;
}

.header-sections{
  padding: 5vh 2vw;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-right: 1vw;
  transition: all .3s;
}

.header-sections:hover{
  background-color: #FFE2E5;
  border-color: #C4174F;
  color: #C4174F;
}

@media screen and (min-width: 320px) and (max-width: 414px) and (orientation: portrait) {

  .header-sections{
    padding: 4vh 3vw;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    margin-right: 1vw;
    transition: all .3s;
  }
}