.projects-container{
    background-color: #fed7da;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.projects-title{
    font-weight: bold;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.the-project-container1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15vh;
}

.the-project-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15vh;
    padding-top: 15vh;
    /* margin-bottom: 15vh; */
    /* margin-left: 20vw; */
    /* margin-right: 20vw; */
}

.the-project-container2{
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15vh;
    padding-top: 15vh;
    /* margin-bottom: 15vh; */
    /* margin-left: 20vw; */
    /* margin-right: 20vw; */
}

.project-description{
    /* text-align: justify; */
    /* padding-right: 35vw; */
    font-size: 17px;
    padding-left: 5vw;
    width: 45vw;
}

.the-project-name{
    font-size: 25px;
}

.project-demo-button{
    background-color: #E55175;
    font-family: Montserrat;
    font-weight: bold;
    color: #ffffff;
    width: 75px;
    padding: 10px;
    margin-right: 5px;
    border-radius: 18px;
    border: 2px solid #E55175;
    cursor: pointer;
}

.project-github-button{
    background-color: #ffffff;
    font-family: Montserrat;
    font-weight: bold;
    color: #E55175;
    width: 75px;
    padding: 10px;
    margin-left: 5px;
    border-radius: 18px;
    border: 2px solid #E55175;
    cursor: pointer;
}

.project-onu-photo{
    height: 70vh;
    /* margin-left: 5vw; */
}

.project-beautytips-photo{
    height: 70vh;
    /* margin-left: 5vw; */
}

.project-rickymorty-photo{
    height: 70vh;
}

.project-cifradocesar-photo{
    height: 70vh;
    width: 17vw;
}