.welcome-page-container{
    height: 100vh;
    background-color: #fed7da;
    font-family: Montserrat;
}

.welcome-page-title{
    font-weight: bold;
    font-size: 50px;
    margin-top: 20vh;
    margin-left: 12vw;
}

.welcome-subtitle{
    font-size: 30px;
    margin-left: 12vw;
}

.welcome-page-photo{
    border-radius: 100%;
    margin-top: -50vh;
    margin-left: 65vw ;
}